.app-name {
  text-align: center;
  width: 800px;
  height: 200px;
  border: 2px solid #212121;
  position: absolute;
  top:-150;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-name h1 {
  font-size: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 5px;
  color: #212121;
}

.check-student-list {
  text-align: center;
  width: 300px;
  height: 100px;
  position: absolute;
  top:400;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.check-student-list a {
  font-size: 40px;
  color: #212121;
}

.check-student-list a:hover {
  color: #78909C;
  text-decoration: none;
}

/*CSS for list.html*/
.header {
  width: 300px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border: 0.5px solid #212121;
}

.header h1 {
  letter-spacing: 3px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.student-detail {
  text-align: center;
  height: 200px;
  background-color: transparent;
  margin-bottom: 30px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url("images/profile.png");
  position: absolute;
  top: 20;
  left: 81.5;
}

.student-name {
  position: absolute;
  top:160;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.student-name a {
  color: #212121;
  font-size: 16px;
}

.student-name a:hover {
  color: #78909C;
  text-decoration: none;
}

/*CSS for detail.html*/
.profile-header {
  text-align: center;
  width: 600px;
  border: 0.5px solid #212121;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 12px;
}

.profile-detail-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url("images/profile.png");
  background-size: cover;
}

.details {
  background-color: transparent;
  height: 400px;
  padding-top: 79px;
  text-align: right;
}

.details-picture {
  background-color: transparent;
  height: 400px;
  padding-top: 60px;
  padding-left: 100px;
}

.back-to-list {
  text-align: center;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 575;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.back-to-list a {
  font-size: 20px;
  color: #212121;
}

.back-to-list a:hover {
  text-decoration: none;
  color: #78909C;
}

/*CSS for requirement.html*/
.quizzes {
  text-align: center;
}

.tests {
  text-align: center;
}
.projects {
  text-align: center;
}
