{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'manageclass/style.css' %}" />

<div class="container">
    <div class="back-to-list">
      <a href="{% url 'manageclass:list' %}"><span class="glyphicon glyphicon-menu-left"></span> B A C K</a>
    </div>
    <div class="profile-header">
      <h1>{{ student.student_name }}'s Profile</h1>
    </div>
    <div class="col-md-6">
      <div class="details">
        <h2>Name: {{ student.student_name }}</h4>
        <h2>Student Number: {{ student.student_number }}
        <h3>GWA: {{ gwa }}</h3>
        <h3>Status: {{ status }}
      </div>
    </div>
    <div class="col-md-6">
      <div class="details-picture">
        <div class="profile-detail-picture">

        </div>
      </div>
    </div>
    <!--<div class="col-md-6">
      <div class="details">
      <h2>Name:{{ student.student_name }}</h4>
      <h2>Student Number:&emsp;&nbsp;{{ student.student_number }}

      <h3>Requirements<h3>
      <h4>Quizzes</h4>
      <ol>
      {% for r in requirement %}
          {% if r.student.student_name == student.student_name and r.requirement_type == 'Q' %}
              <li>{{ r.raw_score }}/{{ r.highest_possible_score }}</li>
          {% endif %}
      {% endfor %}
      </ol>

      <h4>Tests</h4>
      <ol>
      {% for r in requirement %}
          {% if r.student.student_name == student.student_name and r.requirement_type == 'T' %}
              <li>{{ r.raw_score }}/{{ r.highest_possible_score }}</li>
          {% endif %}
      {% endfor %}
      </ol>

      <h4>Project</h4>
      <ol>
      {% for r in requirement %}
          {% if r.student.student_name == student.student_name and r.requirement_type == 'P' %}
              <li>{{ r.raw_score }}/{{ r.highest_possible_score }}</li>
          {% endif %}
      {% endfor %}
      </ol>


      </div>
    </div>-->
</div>
