{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'manageclass/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<body>
  <div class="container">

      <div class="app-name">
        <h1>CLASS MANAGEMENT SYSTEM</h1>
      </div>

      <div class="check-student-list">
          <a href="{% url 'manageclass:list' %}" class="student-button"><span class="glyphicon glyphicon-menu-right"></span></a>
      </div>

  </div>
</body>
