{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'manageclass/style.css' %}" />
<div class="container">
    <div class="header">
      <h1>STUDENTS</h1>
    </div>
        {% for s in students %}
          <div class="col-sm-3">
            <div class="student-detail">
              <div class="profile-picture"></div>
              <div class="student-name">
                <a href="{% url 'manageclass:detail' s.student_number %}">{{ s.student_name }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
</div>
