{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'manageclass/style.css' %}" />
<div class="container">
  <div class="profile-header">
    <h1>{{ student.student_name }}'s Requirements</h1>
  </div>

  <div class="col-sm-4">
    <div class="quizzes">
      <h4>Quizzes</h4>
      {% for r in requirement %}
          {% if r.student.student_name == student.student_name and r.requirement_type == 'Q' %}
              {{ r.raw_score }}/{{ r.highest_possible_score }}
          {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="tests">
      <h4>Tests</h4>

      {% for r in requirement %}
          {% if r.student.student_name == student.student_name and r.requirement_type == 'T' %}
              {{ r.raw_score }}/{{ r.highest_possible_score }}
          {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="projects">
      <h4>Project</h4>

      {% for r in requirement %}
          {% if r.student.student_name == student.student_name and r.requirement_type == 'P' %}
              {{ r.raw_score }}/{{ r.highest_possible_score }}
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
